.category h3 {
  color: white;
  background-color: rgb(196, 1, 1);
  padding: 15px 20px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 600;

  filter: saturate();
}
.c-1 {
  background-image: url("/public/movie001.jpg");
}
.c-2 {
  background-image: url("/public/movie007.jpg");
}
.c-3 {
  background-image: url("/public/movie004.jpg");
}
.c-4 {
  background-image: url("/public/movie006.jpg");
}
.category {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.category::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 700px) {
  .category h3 {
    padding: 30px;
    width: 200px;
  }
  .category {
    width: 90%;
    margin: auto;
    gap: 20px;
    /* background-color: aqua; */
  }
}
