.header {
  /* background-color: antiquewhite; */
  width: 100%;
  display: flex;
  align-items: end;
  height: 50px;
  justify-content: end;
  padding-right: 200px;
  padding-bottom: 10px;
  gap: 30px;
  display: none;
}
.header p {
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 700px) {
  .header {
    display: flex;
  }
}
